In [1]:
import pandas as pd 
import numpy as np

In [2]:
fruit = pd.Series(np.random.choice(['apple','banana','carrot'],10))
weights = pd.Series(np.linspace(1,10,10))

In [3]:
fruit.tolist()

['carrot',
 'apple',
 'banana',
 'apple',
 'apple',
 'banana',
 'apple',
 'apple',
 'carrot',
 'carrot']

In [4]:
weights.tolist()

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]

In [5]:
df = pd.concat((fruit,weights),axis=1)
df.columns = ['fruit','Weights']
df

    fruit  Weights
0  carrot      1.0
1   apple      2.0
2  banana      3.0
3   apple      4.0
4   apple      5.0
5  banana      6.0
6   apple      7.0
7   apple      8.0
8  carrot      9.0
9  carrot     10.0

In [6]:
df.groupby('fruit').mean()

         Weights
fruit
apple   5.200000
banana  4.500000
carrot  6.666667