In [38]:
import pandas as pd

In [39]:
stocks1 = pd.read_csv(r'D:\17A1KHDL\LAB3\DATA\stocks1.csv')
stocks2 = pd.read_csv(r'D:\17A1KHDL\LAB3\DATA\stocks2.csv')
stocks = pd.concat([stocks1,stocks2],ignore_index=True)
stocks.set_index(['date', 'symbol'], inplace=True)
print(stocks)

                    open       high      low    close    volume
date     symbol
01-03-19 AMZN    1655.13  1674.2600  1651.00  1671.73   4974877
04-03-19 AMZN    1685.00  1709.4300  1674.36  1696.17   6167358
05-03-19 AMZN    1702.95  1707.8000  1689.01  1692.43   3681522
06-03-19 AMZN    1695.97        NaN      NaN  1668.95   3996001
07-03-19 AMZN    1667.37  1669.7500  1620.51  1625.95   4957017
01-03-19 AAPL     174.28   175.1500   172.89   174.97  25886167
04-03-19 AAPL     175.69   177.7500   173.97   175.85  27436203
05-03-19 AAPL     175.94   176.0000   174.54   175.53  19737419
06-03-19 AAPL     174.67   175.4900   173.94   174.52  20810384
07-03-19 AAPL     173.87   174.4400   172.02   172.50  24796374
01-03-19 GOOG    1124.90  1142.9700  1124.75  1140.99   1450316
04-03-19 GOOG    1146.99  1158.2800  1130.69  1147.80   1446047
05-03-19 GOOG    1150.06        NaN      NaN  1162.03   1443174
06-03-19 GOOG    1162.49  1167.5700  1155.49  1157.86   1099289
07-03-19 GOOG    1155.72  1156.7600  1134.91  1143.30   1166559
01-03-19 FB       162.60   163.1320   161.69   162.28  11097770
04-03-19 FB       163.90   167.5000   163.83   167.37  18894689
05-03-19 FB       167.37   171.8800   166.55   171.26  28187890
06-03-19 FB       172.90   173.5700   171.27   172.51  21531723
07-03-19 FB       171.50   171.7400   167.61   169.13  18306504
01-03-19 TSLA     306.94   307.1300   291.90   294.79  22911375
04-03-19 TSLA     298.12   299.0000   282.78   285.36  17096818
05-03-19 TSLA     282.00   284.0000   270.10   276.54  18764740
06-03-19 TSLA     276.48   281.5058   274.39   276.24  10335485
07-03-19 TSLA     278.84   284.7000   274.25   276.59   9442483

In [40]:
average_data = stocks.groupby(['date', 'symbol']).mean()
print(average_data)

                    open       high      low    close      volume
date     symbol
01-03-19 AAPL     174.28   175.1500   172.89   174.97  25886167.0
         AMZN    1655.13  1674.2600  1651.00  1671.73   4974877.0
         FB       162.60   163.1320   161.69   162.28  11097770.0
         GOOG    1124.90  1142.9700  1124.75  1140.99   1450316.0
         TSLA     306.94   307.1300   291.90   294.79  22911375.0
04-03-19 AAPL     175.69   177.7500   173.97   175.85  27436203.0
         AMZN    1685.00  1709.4300  1674.36  1696.17   6167358.0
         FB       163.90   167.5000   163.83   167.37  18894689.0
         GOOG    1146.99  1158.2800  1130.69  1147.80   1446047.0
         TSLA     298.12   299.0000   282.78   285.36  17096818.0
05-03-19 AAPL     175.94   176.0000   174.54   175.53  19737419.0
         AMZN    1702.95  1707.8000  1689.01  1692.43   3681522.0
         FB       167.37   171.8800   166.55   171.26  28187890.0
         GOOG    1150.06        NaN      NaN  1162.03   1443174.0
         TSLA     282.00   284.0000   270.10   276.54  18764740.0
06-03-19 AAPL     174.67   175.4900   173.94   174.52  20810384.0
         AMZN    1695.97        NaN      NaN  1668.95   3996001.0
         FB       172.90   173.5700   171.27   172.51  21531723.0
         GOOG    1162.49  1167.5700  1155.49  1157.86   1099289.0
         TSLA     276.48   281.5058   274.39   276.24  10335485.0
07-03-19 AAPL     173.87   174.4400   172.02   172.50  24796374.0
         AMZN    1667.37  1669.7500  1620.51  1625.95   4957017.0
         FB       171.50   171.7400   167.61   169.13  18306504.0
         GOOG    1155.72  1156.7600  1134.91  1143.30   1166559.0
         TSLA     278.84   284.7000   274.25   276.59   9442483.0

In [41]:
sorted_data = average_data.sort_index()
print(sorted_data)

                    open       high      low    close      volume
date     symbol
01-03-19 AAPL     174.28   175.1500   172.89   174.97  25886167.0
         AMZN    1655.13  1674.2600  1651.00  1671.73   4974877.0
         FB       162.60   163.1320   161.69   162.28  11097770.0
         GOOG    1124.90  1142.9700  1124.75  1140.99   1450316.0
         TSLA     306.94   307.1300   291.90   294.79  22911375.0
04-03-19 AAPL     175.69   177.7500   173.97   175.85  27436203.0
         AMZN    1685.00  1709.4300  1674.36  1696.17   6167358.0
         FB       163.90   167.5000   163.83   167.37  18894689.0
         GOOG    1146.99  1158.2800  1130.69  1147.80   1446047.0
         TSLA     298.12   299.0000   282.78   285.36  17096818.0
05-03-19 AAPL     175.94   176.0000   174.54   175.53  19737419.0
         AMZN    1702.95  1707.8000  1689.01  1692.43   3681522.0
         FB       167.37   171.8800   166.55   171.26  28187890.0
         GOOG    1150.06        NaN      NaN  1162.03   1443174.0
         TSLA     282.00   284.0000   270.10   276.54  18764740.0
06-03-19 AAPL     174.67   175.4900   173.94   174.52  20810384.0
         AMZN    1695.97        NaN      NaN  1668.95   3996001.0
         FB       172.90   173.5700   171.27   172.51  21531723.0
         GOOG    1162.49  1167.5700  1155.49  1157.86   1099289.0
         TSLA     276.48   281.5058   274.39   276.24  10335485.0
07-03-19 AAPL     173.87   174.4400   172.02   172.50  24796374.0
         AMZN    1667.37  1669.7500  1620.51  1625.95   4957017.0
         FB       171.50   171.7400   167.61   169.13  18306504.0
         GOOG    1155.72  1156.7600  1134.91  1143.30   1166559.0
         TSLA     278.84   284.7000   274.25   276.59   9442483.0

In [42]:
print(stocks.head())

                    open     high      low    close   volume
date     symbol
01-03-19 AMZN    1655.13  1674.26  1651.00  1671.73  4974877
04-03-19 AMZN    1685.00  1709.43  1674.36  1696.17  6167358
05-03-19 AMZN    1702.95  1707.80  1689.01  1692.43  3681522
06-03-19 AMZN    1695.97      NaN      NaN  1668.95  3996001
07-03-19 AMZN    1667.37  1669.75  1620.51  1625.95  4957017